
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../public/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<body>
    <div class="about-quote">
        <p>
            "I believe fundamental honesty is the keystone of business."<br>
<span class="author"> S. Firestone</span>
        </p>
    </div>
    <div class="main">
        <img class="img1" src="./public/aboutus.jpeg" alt="team-meeting-picture">
        <div class="about-text">
            <h2>About Us</h2>
            <p>We are a small company that decided to bring Comi Con at the distance of a click, founded in 2042 this company allows people to view live Comic Con sessions across the world, and this gets better, you dont have to pay anything just create an account and look for upcoming events!</p>

    </div>
    </div>
    <div class="centerpls">
        <a class="submitbutton-aboutus" href="/">Home</a>
    </div>
   
</body>
</html>