<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/faq.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
</head>


<body>
    <div class="faq-list">

        <ul class="faq-list">
            <li class="faq-question">
                When are new events coming out?
            </li>
            <li class="faq-answer">
                Please check out our main page.
            </li>
            <li class="faq-question">
                Is there a phone number where i can get in touch?
            </li>
            <li class="faq-answer">
                Feel free to give us a call at 07 331 771 891
            </li>
            <li class="faq-question">
                Are the events live or recordings?
            </li>
            <li class="faq-answer">
                All our events are live.
            </li>
            <li class="faq-question">
                Do i need to buy tickets to view the events?
            </li>
            <li class="faq-answer">
                All events are free, just create an account.
            </li>
        </ul>


        <a class="home-button-contact" href="/">Home</a>
</div>
</body>
</html>