<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/public/css//style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
</head>
<body>
  <details>
    <summary></summary>
    <nav class="menu">
      <a href="/">Home</a>
      <a href="/about">About Us</a>
      <a href="/faq">FaQ</a>
      <a href="/contact">Contact</a>

      </nav>
  </details>



  <div class="header">
<img  class="header-img" src="public\gettyimages-1239318754-2048x2048.jpg" alt="header-picture" >
<div class="centered">Comic Con is here!</div>
  </div>

  <div class="body">

<h2>
  Here you can find all the information you need to know about the upcoming Comic Con event.
</h2>
<div class="events">
  <h2 class="event-date">
  The next event will take place on the <span>30th July</span> through to the <span>1st August 2022.</span>
</h2>
</div>
<section class="sponsors">
  <h2> 
    EVENTS
  </h2>
  <ul>
    <li>
      <h3>
      Marvel characters competition <span>1st August at 18:00pm. </span>
      </h3>
      <p>
        The Marvel Cinematic World is a shared universe and media property based on a series of superhero films produced by Marvel Studios.
      </p>
    </li>
    <li>
      <h3>
        DC characters competition <span>30th July at 18:00pm</span>
      </h3>
      <p>
        Series of Detective Comics
The initials for DC Comics were inspired by the Detective Comics series. The emergence of Batman coincided with the release of that series. Another series of comic books called Action Comics introduced a new super hero dubbed Superman.
      </p>
    </li>
</section>

  </div>
  <section class="winners">

<div class="container">
  <img class="container__image" src="public\p1.jpg" alt="picture 1">
  <div class="container__text">
    <h2> <span>1st Place </span>Pan's Labyrinth</h2>
    <p>"Cats like boxes because they are cryptic animals; they like to hide," Stephen Zawistowski, science adviser for the American Society for the Prevention of Cruelty to Animals, told Business Insider. "And a box gives them a place of safety and security."</p>
    <p>While inside a box, cats feel that they cannot be snuck up on from behind or the side — anything that wants to approach them must come directly into their field of vision. In effect, such hiding spaces allow them to watch the world around them without being seen.</p>
  </div>
</div>
<div class="container">

  <img class="container__image" src="public\p2.jpg" alt="img2" ">
  <div class="container__text">
    <h2> <span>2nd Place </span>Hawk Girl from Armored Vigil</h2>
    <p>"Cats like boxes because they are cryptic animals;  world around them without being seen.</p>
  </div>

</div>







<div class="container">
 
  <img class="container__image" src="public\p3.jpg" alt="img3" ">
  <div class="container__text">
    <h2> <span>3rd Place </span>Lumiere</h2>
    <p>"Cats like boxes because they are cryptic animals;  world around them without being seen.</p>
  </div>


</div>




<div class="container">
 
  <img class="container__image" src="public\p4.jpg" alt="img4"">
  <div class="container__text">
    <h2> <span>4th Place </span>Dude Vader!</h2>
    <p>"Cats like boxes because they are cryptic animals;  world around them without being seen.</p>
  </div>


</div>



<div class="container">
 
  <img class="container__image" src="public\p5.jpg" alt="img5"">
  <div class="container__text">
    <h2> <span>5th Place </span>El Santo</h2>
    <p>"Cats like boxes because they are cryptic animals;  world around them without being seen.</p>
  </div>


</div>
</section>



<footer>
  <h5>
No copyright is intended, this website is for educational purposes only and is not intended to be used for commercial purposes.

  
</footer>

</body>
</html>


