<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/public/css/main.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <div class="no-user">
    <% if (typeof error != 'undefined' && error) { %>
      
      <img src="../public/img.png"  class="sad-face-img" alt="logo" style="width:200px;height:200px;">
    <h2 class="wrong-password">Wrong password or Email</h2>
   <%}%>

  </div>


  <div class="pictures">

  </div>
  <h1>You need to be loged to view our page </h1>
<div class="rest">


<form action="/login" method="POST">
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Login</button>
</form>
<div style="text-align:center">
  <a href="/register" class="button" style=display:inline-block ">Register</a>
</div>
</div>
</body>
</html>



