<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/css/main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks</title>
</head>
<body>
    <h1>
        Thanks for your message, We will get back to you as soon as possible!
    </h1>
    <img src="../public/thank-you.gif" alt="thanks">
    <a type="submit" href="/">Home</a>
</body>
</html>